<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flexbox & Fun CSS</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- External Stylesheet -->
        <link href="stylesheets/base.css" rel="stylesheet">
        <link href="stylesheets/specialEffects.css" rel="stylesheet">
        <link href="stylesheets/animation.css" rel="stylesheet">
        <link href="stylesheets/flexbox.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>I Love Cheese</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Courses</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <section id="posts">
                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, March 28th, 2023 @ 1:02pm</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>I love cheese, especially fondue babybel. Say cheese port-salut cheese and biscuits who moved my cheese cauliflower cheese chalk and cheese red leicester manchego. Boursin boursin cheese and biscuits camembert de normandie dolcelatte airedale danish fontina stinking bishop. Cream cheese.</p>
                    </div>
                </div>

                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, March 19th, 2023 @ 2:02am</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>Below are some example gradients!</p>
                        <div id="rainbowGradient" class="gradient spin"></div>
                        <div id="repeatingGradient" class="gradient colorChange"></div>
                        <div id="radialGradient" class="gradient getBigger"></div>

                        <p>Hover over them to see what types of animations they have ;)</p>
                    </div>
                </div>

                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, March 13th, 2023 @ 9:30am</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>Stinking bishop monterey jack taleggio. Hard cheese cheeseburger the big cheese fromage frais danish fontina parmesan cheese and biscuits roquefort. Cheese triangles emmental fromage frais rubber cheese halloumi mascarpone cheese triangles queso. Say cheese croque monsieur say cheese lancashire fromage.</p>
                    </div>
                </div>

                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, March 1st, 2023 @ 11:19am</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>Bavarian bergkase taleggio bavarian bergkase. Edam cheeseburger cheddar edam stilton taleggio lancashire cheesy grin. Stinking bishop manchego manchego monterey jack red leicester stinking bishop port-salut swiss. Melted cheese.</p>
                    </div>
                </div>

                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, February 27th, 2023 @ 5:45pm</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>Stilton melted cheese melted cheese. Pecorino cream cheese edam dolcelatte croque monsieur the big cheese macaroni cheese who moved my cheese. Macaroni cheese cheddar cheese and biscuits fromage frais gouda chalk and cheese pepper jack everyone loves. Hard cheese ricotta ricotta cow blue castello fromage frais goat hard cheese. When the cheese comes out everybody's happy everyone loves edam queso.</p>
                    </div>
                </div>

                <div class="box-shadow">
                    <div class="author">
                        <div class="profileImage round-corners"></div>
                        <div>Nick Snyder</div>
                        <div>Tuesday, February 10th, 2023 @ 7:16am</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <p>Goat cow mozzarella. Queso emmental cheese slices cut the cheese cottage cheese blue castello blue castello edam. Stilton fromage frais ricotta swiss camembert de normandie fromage swiss cheesecake. Taleggio stinking bishop feta stilton who moved my cheese boursin queso port-salut. Bocconcini edam.</p>
                    </div>
                </div>
            </section>
            <section>
                <figure>
                    <img src="assets/images/cheese.png" alt="Cheese!">
                    <figcaption>&copy;2022 - <a href="https://www.foodandwine.com/lifestyle/cheese-fridge-chef-favorites" target="_blank">Food and Wine</a></figcaption>
                </figure>
                <p>Lancashire lancashire danish fontina. When the cheese comes out everybody's happy jarlsberg cheese and wine mascarpone chalk and cheese fromage mozzarella monterey jack. Swiss the big cheese boursin cheese on toast roquefort camembert de normandie squirty cheese cheese slices. Swiss gouda babybel everyone loves fromage mascarpone hard cheese goat. Danish fontina.</p>

                <p>All courtesy of <a href="http://www.cheeseipsum.co.uk/" target="_blank">Cheese Ipsum</a></p>
            </section>
        </main>

        <div id="feedback">Give us Feedback!</div>

        <footer>
            <p class="text-shadow">&copy; 2023 - Nick Snyder</p>
        </footer>
    </body>
</html>