<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grid</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- External Stylesheet -->
        <link href="stylesheets/base.css" rel="stylesheet">
        <link href="stylesheets/grids.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Cheese</h1>
        </header>
        <main>
            <section>Section 1</section>
            <section>Section 2</section>
            <section>Section 3</section>
            <section>Section 4</section>
            <section>Section 5</section>
            <section>Section 6</section>
            <section>Section 7</section>
            <section>Section 8</section>
            <section>Section 9</section>
            <section>Section 10</section>
            <section>Section 11</section>
            <section>Section 12</section>
        </main>
        <footer>
            <p>&copy;2023 - Nick Snyder</p>
        </footer>
    </body>
</html>