<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grid</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- External Stylesheet -->
        <link href="stylesheets/grid-layout.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <aside id="hamburger">
                <section></section>
                <section></section>
                <section></section>
            </aside>
            <h1>Long Live Cheese!</h1>
        </header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Courses</li>
                <li>Contact</li>
            </ul>
        </nav>
        <main>
            <p class="someClass">Who moved my cheese pepper jack brie. Who moved my cheese cottage cheese manchego port-salut jarlsberg cheese slices blue castello cream cheese. Squirty cheese lancashire ricotta halloumi danish fontina parmesan cottage cheese cheese slices. Chalk and cheese smelly cheese camembert de normandie queso lancashire when the cheese comes out everybody's happy.</p>

            <p class="otherClass">Jarlsberg cottage cheese say cheese. Pepper jack stinking bishop cheese strings edam cheese strings pepper jack jarlsberg cheese triangles. Manchego bavarian bergkase cream cheese monterey jack edam cheese slices pepper jack squirty cheese. Blue castello gouda bavarian bergkase.</p>

            <p class="someClass">Cut the cheese fromage manchego. Halloumi lancashire brie monterey jack blue castello fromage pecorino cheese triangles. Squirty cheese blue castello airedale gouda babybel cottage cheese cheese on toast melted cheese. Macaroni cheese bocconcini cut the cheese paneer cheese strings cheese slices.</p>

            <p class="otherClass">Blue castello pepper jack cheesy grin. Pecorino blue castello gouda cottage cheese gouda st. agur blue cheese mozzarella boursin. Gouda cheeseburger cheesy feet cauliflower cheese cheese and biscuits cottage cheese cheeseburger roquefort. Cow brie the big cheese macaroni cheese bavarian bergkase paneer bavarian bergkase cut the cheese. Emmental cheese triangles danish fontina cauliflower cheese.</p>

            <p class="otherClass">Cream cheese feta macaroni cheese. When the cheese comes out everybody's happy bavarian bergkase gouda taleggio halloumi say cheese brie camembert de normandie. Squirty cheese fromage frais parmesan cheese slices dolcelatte stinking bishop hard cheese cottage cheese. Swiss danish fontina monterey jack.</p>

            <p>Courtesy of <a href="http://www.cheeseipsum.co.uk/" target="_blank">Cheese Ipsum</a></p>
        </main>
        <aside>
            I was sad about losing all of my cheese.
        </aside>
        <footer>
            <p>&copy;2023 - Nick Snyder</p>
        </footer>

        <!-- External JavaScript Reference -->
        <script src="js/dropdownmenu.js"></script>
    </body>
</html>